body {
  font-family: "Rubik", sans-serif;
}
.cardWrap {
  width: 80%;
  max-width: 301px;
  border-radius: 10px;
  box-shadow: 0 1px 15px #00000026;
  background: #fff;
  padding: 24px;
  /* only for middle align */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cardWrap img {
  margin-bottom: 24px;
}
.cardWrap h2 {
  font-size: 18px;
  font-weight: 600;
  color: #010e2a;
  margin-bottom: 24px;
}
.cardWrap .line {
  width: 100%;
  max-width: 252px;
  height: 6px;
  background: #ebebeb;
  border-radius: 10px;
  margin-bottom: 16px;
}
.cardWrap .line span {
  width: 100%;
  max-width: 150px;
  background: #ed902d;
  display: block;
  height: 6px;
  border-radius: 10px;
}
.cardWrap h3 {
  font-size: 16px;
  font-weight: 400;
  color: #676e7c;
  display: inline-block;
}
.cardWrap .right {
  float: right;
}
