body {
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 576px) {
  .modal-body h2 {
    font-size: 35px;
    margin-bottom: 20px;
    line-height: 32px;
  }
  .modal-body p {
    font-size: 14px;
    line-height: 22px;
  }
  .modal-body {
    padding: 32px 20px 60px 20px;
  }
  .modal-body figure img {
    margin-bottom: 60px;
    width: 60%;
  }
  .close-modal {
    right: 11px;
    top: 21px;
  }
  .close-modal img {
    width: 60%;
  }
  .blueOvalButton {
    height: 50px;
    font-size: 18px;
    padding: 0 54px;
  }
}
