body {
  font-family: "Roboto", sans-serif;
}
.comWidth {
  width: 100%;
  max-width: 444px;
  margin: 70px auto;
}
.formContainer {
  background: #f1f7ff;
  padding: 24px 30px;
  width: 100%;
  max-width: 444px;
  border-radius: 5px;
}

.formContainer h2 {
  font-weight: 400;
  color: #0043ca;
  font-size: 20px;
  margin-bottom: 40px;
}

.formWrap .serverErrMsg {
  color: #c50202;
  font-size: 12px;
  margin: 5px 0 0;
  text-align: center;
}
.formWrap .field {
  position: relative;
}
.formWrap .field + .field,
.formWrap .field + .radioFilterWrap {
  margin-top: 30px;
}

.formWrap .field label {
  font-weight: 600;
  font-size: 13px;
  color: #000;
  padding-bottom: 10px;
  text-transform: capitalize;
  background: #f1f7ff;
  display: block;
}

.formWrap .field input,
.formWrap .field textarea {
  font-weight: 300;
  height: 55px;
  border: 1px solid #0043ca38;
  display: block;
  width: 100%;
  padding: 10px;
  color: #818e9b;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  border-radius: 3px;
}
.formWrap .field input::-webkit-input-placeholder,
.formWrap .field textarea::-webkit-input-placeholder {
  color: #dbdbdb;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.formWrap .field input::-moz-placeholder,
.formWrap .field textarea::-moz-placeholder {
  color: #dbdbdb;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.formWrap .field input:-ms-input-placeholder,
.formWrap .field textarea:-ms-input-placeholder {
  color: #dbdbdb;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.formWrap .field input::-ms-input-placeholder,
.formWrap .field textarea::-ms-input-placeholder {
  color: #dbdbdb;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.formWrap .field input::placeholder,
.formWrap .field textarea::placeholder {
  color: #dbdbdb;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.formWrap .field input[type="password"] {
  padding-right: 42px;
}

.formWrap .field .errMsg {
  display: block !important;
  color: #c50202;
  font-size: 12px;
  margin: 5px 0 0;
}

.formWrap .passControl {
  margin-top: 10px;
}

.formWrap .passControl a {
  color: #0056b3;
  font-size: 13px;
  float: right;
  text-decoration: underline;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 3px;
}

.formWrap .passControl a:hover {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.radioFilterWrap {
  display: inline-block;
}
/* radioFilterWrap */
.radioFilterWrap {
  margin-bottom: 27px;
  font-size: 0;
  position: relative;
}
.cst-radio {
  display: inline-block;
  width: auto;
  height: 16px;
  position: relative;
  color: #000;
  font-size: 13px;
  text-transform: capitalize;
  padding-left: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cst-radio + .cst-radio {
  margin-left: 40px;
}

.cst-radio span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #0043ca;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-radius: 50%;
  top: 0px;
  left: 0;
}

.cst-radio span::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #fff;
  left: 4px;
  top: 4px;
  border-radius: 50%;
}

.cst-radio input[type="radio"] {
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 10;
  opacity: 0;
  display: none;
}

.cst-radio input[type="radio"]:checked + span {
  background-color: #0043ca;
}
/* tick mark checkbox */
.checkboxWrap {
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: auto;
  height: 16px;
  position: relative;
  color: #96adc7;
  font-size: 14px;
  text-transform: capitalize;
  margin-right: 20px;
}

/* Hide the browser's default checkbox */
.checkboxWrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #0043ca;
  transition: 0.3s;
}

/* On mouse-over, add a grey background color */
.checkboxWrap:hover input ~ .checkmark {
  background-color: #e3f0ff;
  transition: 0.3s;
}

/* When the checkbox is checked, add a blue background */
.checkboxWrap input:checked ~ .checkmark {
  background-color: #e3f0ff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxWrap input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxWrap .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #0043ca;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.password-view {
  position: absolute;
  right: 15px;
  top: 44px;
  color: #7b7b7b;
  cursor: pointer;
  border: none;
  padding: 0;
}

.formWrap .buttonWrap button {
  background: #0043ca;
  text-transform: capitalize;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 67, 202, 0.3);
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  width: 100%;
  height: 48px;
  margin: 30px 0;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.formWrap .notReg {
  color: #212529;
  font-size: 12px;
  text-align: center;
}
.formWrap .notReg a {
  color: #0043ca;
  text-decoration: underline;
  font-size: 13px;
}
.formWrap .notReg a:hover {
  text-decoration: none;
}
