.formContainer {
  background: #f1f7ff;
  padding: 24px 30px;
  width: 100%;
  max-width: 444px;
  border-radius: 5px;
}

.formContainer h2 {
  font-weight: 400;
  color: #0043ca;
  font-size: 20px;
  margin-bottom: 40px;
}

.formWrap .serverErrMsg {
  color: #c50202;
  font-size: 12px;
  margin: 5px 0 0;
  text-align: center;
}

.formWrap .field+.field {
  margin-top: 30px;
}

.formWrap .field label {
  font-weight: 600;
  font-size: 13px;
  color: #000;
  display: inline-block;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.formWrap .field input {
  font-weight: 300;
  height: 55px;
  border: 1px solid #fff;
  display: block;
  width: 100%;
  padding: 10px;
  color: #495057;
  font-size: 14px;
  background-color: #fff;
  border-radius: 3px;
}

.formWrap .field .errMsg {
  display: block !important;
  color: #c50202;
  font-size: 12px;
  margin: 5px 0 0;
}

.formWrap .passControl {
  margin-top: 10px;
}

.formWrap .passControl a {
  color: #0056b3;
  font-size: 13px;
  float: right;
  text-decoration: underline;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.formWrap .passControl a:hover {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.formWrap .buttonWrap button {
  background: #0043ca;
  text-transform: capitalize;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 67, 202, .3);
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  width: 100%;
  height: 48px;
  margin-top: 30px;
}