.btnMobileTrigger {
    display: none;
}

.btnMobileTrigger span:last-child {
    width: 14px;
}

.btnMobileTrigger span {
    border-radius: 3px;
    height: 2px;
    background: #1c1a1a;
    transition: all .2s;
    width: 24px;
    display: block;
    margin: 4px 0;
}

.btnMobileTrigger span:nth-child(1) {
    transform-origin: top left;
}

.btnMobileTrigger span:nth-child(2) {
    transform-origin: top right;
}

.headerSocial,
.headerSocial a {
    font-size: 0;
}

.headerSocial {
    display: none;
}

.ico-color {
    display: none;
}

.headerSocial p {
    font-size: 18px;
    margin-bottom: 15px;
    color: #9c9c9c;
}

.headerSocial a:hover img:not(.ico-color) {
    display: none;
}

.headerSocial a:hover .ico-color {
    display: block;
}

.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar>* {
    z-index: 9;
}

.logoHeader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.navbarMenu {
    display: flex;
    align-items: center;
    z-index: 8;
}

.navbarMenu ul li {
    display: inline-block;
    vertical-align: middle;
}

.navbarMenu ul li a {
    padding: 8px 0;
}

.navbarMenu ul li.active a,
.navbarMenu ul li a:hover {
    color: #000;
    text-decoration: underline;
}

.navbarMenu ul li+li {
    margin-left: 15px;
}

.navList {
    margin-left: auto;
}

.navList li figure {
    display: none;
}



@media (max-width: 767px) {
    .header {
        padding: 20px 0;
    }

    .mobileMenu-active .btnMobileTrigger span:nth-child(1) {
        transform: rotate(35deg);
    }

    .mobileMenu-active .btnMobileTrigger span:last-child {
        opacity: 0;
    }

    .mobileMenu-active .btnMobileTrigger span:nth-child(2) {
        transform: rotate(-35deg) translateY(-7px);
    }

    .navbarMenu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        padding: 30px 15px;
        pointer-events: none;
        overflow: hidden;
        transition: all .7s cubic-bezier(.8, 0, .2, 1);
        transform: translate3d(0, -120%, 0);
    }

    .headerSocial {
        display: block;
        margin-top: 50px;
    }

    .headerSocial a {
        max-width: 35px;
        max-height: 35px;
    }

    .mobileMenu-active .navbarMenu {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        pointer-events: all;
    }

    .btnMobileTrigger {
        display: block;
    }

    .navbarMenu ul,
    .headerSocial {
        opacity: 0;
        transition: opacity .3s 0s ease-out, transform .5s .2s cubic-bezier(0, .8, .2, 1);
        transform: translate3d(0, -5em, 0);
        width: 100%;
    }

    .mobileMenu-active .navbarMenu ul {
        max-height: 60%;
        overflow: auto;
    }

    .mobileMenu-active .navbarMenu ul,
    .mobileMenu-active .headerSocial {
        opacity: 1;
        transition: opacity .8s .4s, transform 1.4s 0s cubic-bezier(0, .8, .2, 1);
        transform: translate3d(0, 0, 0);
    }

    .navbarMenu ul li {
        display: block;
    }

    .navbarMenu ul li+li {
        margin: 10px 0 0 0;
    }

    .navbarMenu ul li a {
        font-size: 38px;
        padding: 0;
        font-weight: 700;
    }

    .headerSocial a+a {
        margin-left: 15px;
    }
}

@media (max-width: 575px) {
    .navList li a {
        font-size: 0;
    }

    .navList li figure {
        display: inline-block;
        vertical-align: middle;
        width: 30px;
    }
}

@media (max-height: 480px) {
    .navbarMenu {
        overflow: auto;
        justify-content: flex-start;
    }

    .mobileMenu-active .navbarMenu ul {
        max-height: inherit;
        overflow: visible;
    }
}