body {
  font-family: "Oxygen", sans-serif;
}
.comWidth {
  width: 100%;
  max-width: 1088px;
  margin: 70px auto;
}

.formContainer {
  background: #fff;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.16);
}

/* formWrap */
.formWrap {
  padding: 80px;
  float: left;
  width: 50%;
}
.formWrap .errorMessage {
  color: #fd0000;
  font-size: 12px;
  margin-bottom: 10px;
}
.formWrap h2 {
  color: #212121;
  font-size: 24px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 70px;
}

.field + .field,
.field + .radioFilterWrap {
  margin-top: 45px;
}
.field label {
  background: #3256ad;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  padding: 3px 10px;
  border-radius: 3px;
  float: left;
  margin: 0 0 -10px 10px;
  position: relative;
  z-index: 10;
  text-transform: capitalize;
}

.field input,
.field textarea {
  display: block;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #3256ad;
  border-radius: 5px;
  outline: none;
  color: #586677;
  font-size: 15px;
  padding: 13px 10px 7px;
  font-weight: 700;
  font-family: "Oxygen", sans-serif;
}
.field input::-webkit-input-placeholder,
.field textarea::-webkit-input-placeholder {
  font-size: 15px;
  color: #bcbcbc;
  font-family: "Oxygen", sans-serif;
}
.field input::-moz-placeholder,
.field textarea::-moz-placeholder {
  font-size: 15px;
  color: #bcbcbc;
  font-family: "Oxygen", sans-serif;
}
.field input:-ms-input-placeholder,
.field textarea:-ms-input-placeholder {
  font-size: 15px;
  color: #bcbcbc;
  font-family: "Oxygen", sans-serif;
}
.field input::-ms-input-placeholder,
.field textarea::-ms-input-placeholder {
  font-size: 15px;
  color: #bcbcbc;
  font-family: "Oxygen", sans-serif;
}
.field input::placeholder,
.field textarea::placeholder {
  font-size: 15px;
  color: #bcbcbc;
  font-family: "Oxygen", sans-serif;
}
.formWrap .field .errMsg {
  display: block;
  color: #ff0000;
  font-size: 12px;
  margin: 5px 0 0;
}
.squareButton.blue {
  background: #0372bc;
  margin-top: 32px;
  color: #fff;
  letter-spacing: 1px;
}

.formWrap a {
  color: #0372bc;
  text-align: center;
  font-weight: 500;
}
.formWrap .passControl {
  margin-top: 25px;
}

.formWrap a {
  color: #3256ad;
  font-size: 13px;
  float: right;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 3px;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.formWrap a:hover {
  color: #3256ad;
  border-bottom: 1px solid #3256ad;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.radioFilterWrap {
  display: inline-block;
}
.radioFilterWrap input[type="radio"] {
  min-height: 20px;
}
/* radioFilterWrap */
.radioFilterWrap {
  margin-bottom: 27px;
  font-size: 0;
  position: relative;
}
.cst-radio {
  display: inline-block;
  /* width: 24%; */
  width: auto;
  height: 16px;
  position: relative;
  color: #96adc7;
  font-size: 14px;
  text-transform: capitalize;
  /* margin-left: 24px; */
  padding-left: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cst-radio + .cst-radio {
  margin-left: 40px;
}

.cst-radio span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #4363ba;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-radius: 50%;
  top: 0px;
  left: 0;
}

.cst-radio span::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #fff;
  left: 4px;
  top: 4px;
  border-radius: 50%;
}

.cst-radio input[type="radio"] {
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 10;
  opacity: 0;
  display: none;
}

.cst-radio input[type="radio"]:checked + span {
  background-color: #4363ba;
}
/* checkbox */
.checkboxWrap {
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: auto;
  height: 16px;
  position: relative;
  color: #96adc7;
  font-size: 14px;
  text-transform: capitalize;
  margin-right: 20px;
}

/* Hide the browser's default checkbox */
.checkboxWrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #4363ba;
  transition: 0.3s;
}

/* On mouse-over, add a grey background color */
.checkboxWrap:hover input ~ .checkmark {
  background-color: #e3f0ff;
  transition: 0.3s;
}

/* When the checkbox is checked, add a blue background */
.checkboxWrap input:checked ~ .checkmark {
  background-color: #e3f0ff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxWrap input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxWrap .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #4363ba;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.password-view {
  position: absolute;
  right: 15px;
  top: 44px;
  color: #7b7b7b;
  cursor: pointer;
  border: none;
  padding: 0;
}

.formWrap .buttonWrap button {
  background: #3256ad;
  text-transform: capitalize;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  width: 100%;
  height: 48px;
  margin: 30px 0;
  font-family: "Oxygen", sans-serif;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.formWrap .buttonWrap button:hover {
  background: #123368;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.formWrap .notReg {
  color: #212529;
  font-size: 12px;
  text-align: center;
  margin-top: 40px;
}
.formWrap .notReg a {
  float: none;
}
/* loginGraphic */
.loginGraphic {
  float: right;
  background: url(./images/Graphic.png) no-repeat 50% 100%;
  height: calc(100vh - -230px);
  width: 50%;
}
.loginGraphic a {
  display: inline-block;
}
