body {
  font-family: "Roboto", sans-serif;
}
.comWidth {
  width: 100%;
  max-width: 1088px;
  margin: 70px auto;
}

.formContainer {
  background: #fff;
  box-shadow: 15px 30px 80px #00000014;
}

/* menuWrap */
.menuWrap {
  float: left;
  width: 122px;
  height: calc(100vh - -310px);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.menuWrap ul {
  top: 50%;
  left: 50%;
}

.menuWrap ul li {
  padding: 40px 30px;
  border-left: 3px solid #d8d8d8;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menuWrap ul li a {
  color: #d8d8d8;
  font-size: 17px;
  text-align: center;
  line-height: 26px;
  text-transform: capitalize;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 500;
}

.menuWrap ul li:hover,
.menuWrap ul li.active {
  border-color: #037ac0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menuWrap ul li:hover a,
.menuWrap ul li.active a {
  color: #037ac0;
}

/* loginGraphic */
.loginGraphic {
  float: left;
  width: 292px;
  height: calc(100vh - -310px);
  background: #0372bc;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

/* formWrap */
.formWrap {
  padding: 97px 138px;
  float: left;
  width: calc(100% - 414px);
}
.formWrap .errorMessage {
  color: #fd0000;
  font-size: 12px;
}
.formWrap h2 {
  color: #212121;
  font-size: 24px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 31px;
}

.squareButton {
  border-radius: 5px;
  box-shadow: 0px 2px 6px #0000001a;
  height: 54px;
  background: #ffffff;
  font-size: 18px;
  color: #212121;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  width: 100%;
  text-align: center;
  margin-bottom: 32px;
}

.squareButton img {
  margin-left: 17px;
  float: left;
}

.line {
  background: #e0e0e0;
  height: 1px;
  width: 100%;
  position: relative;
  margin-bottom: 32px;
}

.line p {
  position: absolute;
  top: -12px;
  left: 0;
  right: 0;
  width: 42px;
  background: #fff;
  font-size: 16px;
  color: #e0e0e0;
  margin: 0px auto;
  text-align: center;
}

.field + .field,
.field + .radioFilterWrap {
  margin-top: 14px;
}

.field label {
  color: #212121;
  font-size: 16px;
  display: block;
  font-weight: 600;
  margin-bottom: 16px;
  text-transform: capitalize;
}

.field input,
.field textarea {
  height: 54px;
  background-color: #0372bc0a;
  border-radius: 5px;
  border: none;
  width: 100%;
  padding: 14px 16px;
  font-family: "Roboto", sans-serif;
}
.field textarea {
  line-height: 26px;
}
.field input::-webkit-input-placeholder,
.field textarea::-webkit-input-placeholder {
  font-size: 18px;
  color: #bcbcbc;
  font-family: "Roboto", sans-serif;
}
.field input::-moz-placeholder,
.field textarea::-moz-placeholder {
  font-size: 18px;
  color: #bcbcbc;
  font-family: "Roboto", sans-serif;
}
.field input:-ms-input-placeholder,
.field textarea:-ms-input-placeholder {
  font-size: 18px;
  color: #bcbcbc;
  font-family: "Roboto", sans-serif;
}
.field input::placeholder,
.field textarea::placeholder {
  font-size: 18px;
  color: #bcbcbc;
  font-family: "Roboto", sans-serif;
}
.field input[type="password"] {
  width: calc(100% - 35px);
  border-radius: 5px 0px 0px 5px;
}
.formWrap .field .errMsg {
  display: block;
  color: #ff0000;
  font-size: 12px;
  margin: 5px 0 0;
}
/* radioFilterWrap */
.radioFilterWrap {
  margin-bottom: 27px;
  font-size: 0;
  position: relative;
}
.cst-radio {
  display: inline-block;
  /* width: 24%; */
  width: auto;
  height: 16px;
  position: relative;
  color: #96adc7;
  font-size: 14px;
  text-transform: capitalize;
  /* margin-left: 24px; */
  padding-left: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cst-radio + .cst-radio {
  margin-left: 40px;
}

.cst-radio span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 1px solid #0372bc;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-radius: 50%;
  top: 0px;
  left: 0;
}

.cst-radio span::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #fff;
  left: 4px;
  top: 4px;
  border-radius: 50%;
}

.cst-radio input[type="radio"] {
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 10;
  opacity: 0;
  display: none;
}

.cst-radio input[type="radio"]:checked + span {
  background-color: #0372bc;
}
/* checkbox */
.checkboxWrap {
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: auto;
  height: 16px;
  position: relative;
  color: #96adc7;
  font-size: 14px;
  text-transform: capitalize;
  margin-right: 20px;
}

/* Hide the browser's default checkbox */
.checkboxWrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #0372bc;
  transition: 0.3s;
}

/* On mouse-over, add a grey background color */
.checkboxWrap:hover input ~ .checkmark {
  background-color: #e3f0ff;
  transition: 0.3s;
}
/* When the checkbox is checked, add a blue background */
.checkboxWrap input:checked ~ .checkmark {
  background-color: #e3f0ff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxWrap input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxWrap .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #4363ba;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.formWrap .field button.eyeButton {
  height: 54px;
  width: 30px;
  background: #0372bc0a;
  padding: 0;
  border-radius: 0 5px 5px 0;
}
.squareButton.blue {
  background: #0372bc;
  margin-top: 32px;
  color: #fff;
  letter-spacing: 1px;
}

.formWrap a {
  font-size-adjust: 18px;
  color: #0372bc;
  text-align: center;
  font: 16px;
  display: block;
  font-weight: 500;
}
